

.add_post_page_wrapper{
    position: relative;
    margin:auto;
    height: 630px;
    max-width: 450px;
    margin-top: 60px;
    padding:0 20px
}

.add_post_page{
    position: absolute;
    width: 100%;
    height: fit-content;
    left:0;
    margin: auto;
    background-color: white;
    padding:20px 40px;
    visibility: hidden;
}

.add_post_page.show{
    visibility: visible;

}

@media(min-width:1000px){
    .add_post_page_wrapper{
        margin-top: 70px;
        height: 500px;
    }
}