.edit_user_details_wrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: white;
  left: 0;
  top:0;
}

.edit_details_content{
  width: 85%;
  margin:40px auto;
}


.user_info_item{
  width: fit-content;
  margin:8px 10px;
}

.user_info_buttons{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5px 10px;
}

.user_info_image{
  width: 100%;
  margin:5px 10px;
}
.user_info_image > div{
  width:50%;
  min-width: 300px;
}
.user_info_edit_button{
  width: 58px;
  height: 32px;
  background-color: #10966d;
  color:white;
  border:none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.user_info_display{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
}
.edit_menu_items {
  display: flex;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  height: 45px;
  justify-content: flex-start;
  border-bottom: 0.2px solid #ccc;
}

.edit_menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
  padding: 10px 15px;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 0.2px solid #ccc;
  border-right: 0.2px solid #ccc;
  border-left: 0.2px solid #ccc;
}

.edit_menu_item.active{
    height: 102%;
    z-index: 100;
    background-color: white;
} 

.edit_menu_item:hover {
  text-decoration: underline;
}

@media (min-width: 1000px) {

  .edit_menu_items {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 0;
    height: 100%;
    border-bottom: none;
    margin-top: 10px;
  }

  .edit_menu_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    width: 240px;
    max-width: 100%;
    padding: 20px;
    height: 50px;
    max-height: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    margin: none;
    margin: 5px 0px;
  }

  .edit_menu_item.active{
    background-color: #ccc;
  }

  .edit_menu_item:hover {
    background-color: #ccc;
    text-decoration: none;
  }
}
