.userp_posts_head{
    height: 60px;
    background-color: #08a072;
    width: 100%;
}

.userp_head_items{
    display: flex;
    width:  calc(80% - 13px);
    height: 100%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding-left: 25px;
    color:white;
}

@media(min-width:1000px){
    .userp_head_items
    {
        padding-left: 27px;
        width:calc(58% - 13px);
    }
}