
.userp_details_wrapper{
    display: none;
}



@media (min-width:1000px){
    .userp_details_wrapper{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-right: 60px;
        align-items:flex-start;
        height: fit-content;
    }

    .userp_details_img{
        width: 200px;
        height: 200px;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        align-items: center;
        overflow: hidden;
    }

    .userp_details_img > img{
        width: 100%;
        height: 100%;
    }
    .userp_details_img > p{
        font-size: 20px;
        font-weight: bold;
        color:rgb(109, 109, 109);
    }

    .userp_details_info{
        margin-top: 0px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 145px;
        justify-content: space-between;
       
    }

    .userp_details_info > p:first-child{
        font-size: 30px;
        font-weight: bold;
    }

    .userp_details_btn{
        margin-top: 8px;
        width: 85px;
        height: 28px;
        border:none;
        color:white;
        font-size: 16px;
        border-radius: 2px;
        background-color: #10966d;
        cursor: pointer;
    }

}