.userp_posts_container {
  width: 100%;
  position: relative;
  height: 500px;
  margin: auto;
  max-width: 700px;
}

/* user page */
 .userp_container {
  position: relative;
  margin-top: 0px;
  display: flex;
} 

.userp_posts {
  width: 100%;
  margin-bottom: 100px;
}  


/* posts head */

.userp_header_title{
  font-size: 28px;
  position: relative;
  text-decoration: underline;
  left:10px;
}
.userp_header_btns{
  max-width: 700px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 100%;
  position: relative;
}
.userp_header_btns > button{
  margin:0 1px;
  width: 75px;
  height: 35px;
  cursor: pointer;
  transition: background 0.1s ease;
  border-radius: 2px;
  border-width: 0.1px;
  border-style: solid;
}
.userp_posts_delete_btn {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
.userp_posts_delete_btn, .userp_sort_btn{
  background-color: rgba(243, 242, 242, 0.562);
  border-color: #ccc;
}

.userp_posts_delete_btn:hover, .userp_sort_btn:hover{
  background-color: rgba(243, 242, 242, 0.829);
}

.userp_new_btn{
  position: absolute;
  width: 80px !important;
  bottom:0;
  right:85px;
  background-color: #37bb63;
  color:white;
  border-color: rgb(16, 207, 25);

}
.userp_new_btn:hover{
  background-color: rgb(68, 189, 74);
}

.userp_sort_btn{
  position: absolute;
  bottom: 0;
  left: 5px;
}


.userp_head_items {
  display: flex;
  width: calc(80% - 13px);
  height: 100%;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding-left: 25px;
  color: white;
}


.userp_sort_opt_wrapper{
  position: absolute;
  top: 110%;
  left:1%;
  width: 150px;
  height: fit-content;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.userp_sort_opt{
  width: 100%;
  font-size: 13px;
  padding: 6px 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.userp_sort_opt:hover{
  background-color: rgb(226, 226, 226);
}
.userp_sort_opt:first-child{
  cursor: default;
  font-weight: bold;
  font-size: 13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.userp_sort_opt:last-child{
  border-top:none;
  border-bottom:none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* accordion */

.userp_posts_head {
  height: 11px;
  border-radius: 1px;
  background-color: #11c58f;
  width: 100%;
}

.post_accordion_item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.post_accordion_item > .title_container {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(247, 247, 247);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: .5px solid rgb(206, 206, 206);
  cursor: pointer;
}

.post_accordion_item > .title_container:hover{
    background-color: rgb(223, 223, 223);
}

.post_accordion_item > .details_container {
  font-size: 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0.5px solid rgb(206, 206, 206);
  border-right: 0.5px solid rgb(206, 206, 206);
  position: relative;
  height: 0;
  overflow: hidden;
}

.post_accordion_item:last-child > .details_container{
   border-bottom: 0.5px solid rgb(206, 206, 206);
}

.post_accordion_item > .details_container.open{
    animation: showDetails 0.3s ease forwards;
}

.post_accordion_item > .details_container.close{
    animation: hideDetails 0.3s ease forwards;
}

.post_accordion_emoji{
    font-size: 25px;
    margin-left: auto;
    margin-right: 10px;
}

@keyframes showDetails {
  from { 
    height: 0px;
  }
  to {
    height:200px;
  }
}

@keyframes hideDetails {
    from{ 
        height: 200px;
    }
    to{
        height: 0px;
    }   
}

@media (min-width: 1000px) {
  .userp_posts_container, .userp_header_btns {
    max-width: 100%;
  }

  .userp_head_items {
    padding-left: 27px;
    width: calc(58% - 13px);
  }
  .userp_container {
    margin-top: 20px;
  }
}
