
.userp_container{
    position: relative;
    margin-top: 0px;
    display: flex;
    
}
.userp_posts{
    width: 100%;
    margin-bottom: 100px;
}


@media(min-width:1000px){
    .userp_container{
        margin-top: 60px;
    }
}

